<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>显示用户信息</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{/static/bootstrap/css/bootstrap.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">

    <div class="row">

            <div class="col-md-7">
                <div class="panel panel-primary">
                    <div class="panel-heading text-center">
                        <span class="panel-title">全部用户信息</span>
                    </div>
                    <div class="panel-body">
                        <table class="table-bordered" style="width: 100%">
                            <tr style="height: 40px; background-color: #f7ecb5">
                                <th class="text-center">编号</th>
                                <th class="text-center">用户名</th>
                                <th class="text-center">性别</th>
                                <th class="text-center">电话</th>
                                <th class="text-center">邮件</th>
                                <th class="text-center">备注</th>
                            </tr>
                            <tr th:each="user:${users}" class="text-center" style="height: 40px">
                                <td><span th:text="${user.id}"></span></td>
                                <td><span th:text="${user.userName}"></span></td>
                                <td><span th:text="${user.sex==1?'男':'女'}"></span></td>
                                <td><span th:text="${user.mobile}"></span></td>
                                <td><span th:text="${user.email}"></span></td>
                                <td><span th:text="${user.note}"></span></td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-footer text-right">
                        <span class="panel-title">胡睿毅@20181005</span>
                    </div>
                </div>
            </div>

    </div>
</div>
</body>
</html>