<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Welcome</title>
<link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet" />
<link th:href="@{/bootstrap/css/bootstrap-theme.css}" rel="stylesheet" />
<script th:src="@{/jquery/js/jquery-3.3.1.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.js}"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="panel panel-primary">
					<div class="panel-heading text-center">
						<span class="panel-title">问候语</span>
					</div>
					<div class="panel-body">
						<span style="color: orange;" th:text="#{welcome(${name})}"></span>
					</div>
					<div class="panel-footer text-right">
						<span class="panel-title">胡睿毅@20181005</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>