<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://www.springframework.org/schema/beans"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd">

  <!-- AOP 注解开发配置 -->

  <!-- 启动注解AOP的开发 -->
  <aop:aspectj-autoproxy/>

  <!-- 配置目标类 -->
  <bean class="com.example.Spring.demoC.OrderDao" id="orderDao"></bean>

  <!-- 配置切面类 -->
  <bean class="com.example.Spring.demoC.MyAspectAnno" id="myAspect"></bean>
</beans>