<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:context="http://www.springframework.org/schema/context"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://www.springframework.org/schema/beans"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
  <bean class="com.example.demo0.One" id="one">
    <constructor-arg name="one" value="one"/>
  </bean>
  <bean class="com.example.demo0.Two" id="two">
    <constructor-arg name="two" value="two"/>
  </bean>
  <context:component-scan base-package="com.example.Spring.demo0"/>

</beans>