<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://www.springframework.org/schema/beans" xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">

  <!-- Spring的sBean的生命周期的配置=========== -->
  <bean class="com.example.Spring.demo2.CustomerDAOImpl" destroy-method="destroy" id="customerDAO" init-method="setup"
    scope="prototype"/>
</beans>