<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootmybatisplus.dao.EpanEnterpriseDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.springbootmybatisplus.model.EpanEnterprise">
        <id column="ENTERPRISE_ID" property="enterpriseId"/>
        <result column="ENTERPRISE_TYPE" property="enterpriseType"/>
        <result column="ENTERPRISE_CNNME" property="enterpriseCnnme"/>
        <result column="IS_DOMESTIC" property="isDomestic"/>
        <result column="IS_TRUCK" property="isTruck"/>
        <result column="SAP_ID" property="sapId"/>
        <result column="TRUCK_CDE" property="truckCde"/>
        <result column="SOURCE" property="source"/>
        <result column="MASTER_USER_ID" property="masterUserId"/>
        <result column="PARENT_ENTERPRISE_ID" property="parentEnterpriseId"/>
        <result column="REC_CRE_USER" property="recCreUser"/>
        <result column="REC_CRE_DT" property="recCreDt"/>
        <result column="REC_UPD_USER" property="recUpdUser"/>
        <result column="REC_UPD_DT" property="recUpdDt"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ENTERPRISE_ID, ENTERPRISE_TYPE, ENTERPRISE_CNNME, IS_DOMESTIC, IS_TRUCK, SAP_ID, TRUCK_CDE, SOURCE, MASTER_USER_ID, PARENT_ENTERPRISE_ID, REC_CRE_USER, REC_CRE_DT, REC_UPD_USER, REC_UPD_DT
    </sql>

    <resultMap id="ComplexResultMap" type="com.coscon.shop.epanasia.model.EpanEnterprise">
        <id column="ENTERPRISE_ID" property="enterpriseId"/>
        <result column="ENTERPRISE_TYPE" property="enterpriseType"/>
        <result column="ENTERPRISE_CNNME" property="enterpriseCnnme"/>
        <result column="IS_DOMESTIC" property="isDomestic"/>
        <result column="IS_TRUCK" property="isTruck"/>
        <result column="SAP_ID" property="sapId"/>
        <result column="TRUCK_CDE" property="truckCde"/>
        <result column="SOURCE" property="source"/>
        <result column="MASTER_USER_ID" property="masterUserId"/>
        <result column="PARENT_ENTERPRISE_ID" property="parentEnterpriseId"/>
        <result column="REC_CRE_USER" property="recCreUser"/>
        <result column="REC_CRE_DT" property="recCreDt"/>
        <result column="REC_UPD_USER" property="recUpdUser"/>
        <result column="REC_UPD_DT" property="recUpdDt"/>
        <result column="REC_VER" property="recVer"/>


        <result column="ID_CARD_COPY_FILE" property="idCardCopyFile"/>
        <result column="BUSINESS_LICENSE_NO" property="businessLicenseNo"/>
        <result column="BUSINESS_LICENSE_FILE" property="businessLicenseFile"/>
        <result column="TAX_REGISTRY_NO" property="taxRegistryNo"/>
        <result column="TAX_REGISTRY_FILE" property="taxRegistryFile"/>
        <result column="POWER_OF_ATTORNEY_FILE" property="powerOfAttorneyFile"/>
    </resultMap>

    <select id="selectPageData" resultMap="ComplexResultMap">
        SELECT
        a.ENTERPRISE_ID,
        a.MASTER_USER_ID，
        a.ENTERPRISE_TYPE,
        a.ENTERPRISE_CNNME，
        g.ID_CARD_COPY_FILE,
        g.BUSINESS_LICENSE_NO,
        g.BUSINESS_LICENSE_FILE,
        g.TAX_REGISTRY_NO,
        g.TAX_REGISTRY_FILE,
        g.POWER_OF_ATTORNEY_FILE
        FROM EPAN_ENTERPRISE a
        JOIN EPAN_ENT_USER c ON a.MASTER_USER_ID=c.USER_ID
        LEFT JOIN EPAN_ENT_USER_EXT d ON a.MASTER_USER_ID=d.USER_ID
        LEFT JOIN EPAN_C_ENTERPRISE_INFO g ON a.ENTERPRISE_ID=g.ENTERPRISE_ID
        LEFT JOIN EPAN_ENTERPRISE_BANK h ON a.ENTERPRISE_ID=h.ENTERPRISE_ID
        LEFT JOIN EPAN_C_ENT_TRADE_UPGRADE_REQ e ON a.ENTERPRISE_ID=e.ENTERPRISE_ID and IS_ACTIVE = 1
        LEFT JOIN EPAN_ENTERPRISE_RECOMMEND i ON a.ENTERPRISE_ID=i.ENTERPRISE_ID
        LEFT JOIN EPAN_ENTERPRISE f ON f.ENTERPRISE_ID = i.RECOMMEND_ENTERPRISE_ID
        where 1 = 1
        <if test=" param.ENTERPRISE_CNNME != null and param.ENTERPRISE_CNNME != '' ">
            and a.ENTERPRISE_CNNME = #{param.ENTERPRISE_CNNME}
        </if>
        order by a.ENTERPRISE_ID
    </select>

</mapper>
