<component name="ArtifactManager">
  <artifact type="war" name="SpringBootDemo-jsp:war">
    <output-path>$PROJECT_DIR$/SpringBootDemo-jsp/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>SpringBootDemo-jsp</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="SpringBootDemo-jsp-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringBootDemo-jsp:war exploded" />
    </root>
  </artifact>
</component>