<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
    <link th:href="${'/static/bootstrap/css/bootstrap.css'}" rel="stylesheet">

</head>
<body class="container">
<div class="alert alert-danger" role="alert" th:if="${param.error}">
    Invalid username and password.
</div>
<div class="alert alert-danger" role="alert" th:if="${param.logout}">
    You have been logged out.
</div>
<div class="container">
    <form class="col-lg-offset-4 col-lg-4" th:action="@{/login}" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required th:value="admin"
                   autofocus>
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required th:value="admin">
        </p>
        <div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </div>
    </form>
</div>
</body>
</html>