<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>显示学生信息</title>
  <meta charset="UTF-8"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>

  <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
  <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-theme.css}"/>
  <script th:src="@{/jquery/js/jquery-3.3.1.js}"></script>
  <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading text-center">
          <span class="panel-title">学生信息</span>
        </div>
        <div class="panel-body">
          编号：<span th:text="#{student.id}">2</span>
          <br/>
          姓名：<span th:text="#{student.name}">萌萌哒</span>
          <br/>
          性别：<span th:text="#{student.gender}">男</span>
          <br/>
          年龄：<span th:text="#{student.age}">20</span>
          <br/>
          电话：<span th:text="#{student.telephone}">15890905678</span>
          <br/>
        </div>
        <div class="panel-footer text-right">
          <span class="panel-title">胡睿毅@20181005</span>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
