<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
    <display-name>HelloSpringMVC</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!-- 前端控制器 -->
    <servlet>
        <servlet-name>spring-mvc</servlet-name>  <!-- 名称，真实的文件名需要在这个名字后面加上-servlet后缀 -->
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class> <!--  DispatcherServlet路径，照写 -->

        <!--   这里可以设置前端控制器的路径，如果这一步注释掉，则默认前端控制器的路径为：/WEB-INF/[servlet-name]-servlet.xml  
       <init-param>  
            <param-name>contextConfigLocation</param-name>  
            <param-value>/WEB-INF/configs/spring-mvc-servlet.xml</param-value> 这里配置前端控制器的路径  
        </init-param>    
        -->

        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- 拦截所有请求 -->
    <servlet-mapping>
        <servlet-name>spring-mvc</servlet-name>     <!-- 这里的名字要和上面的servlet-name统一 -->
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>